Flask==3.0.3
flask-cors==4.0.0
python-dotenv==1.0.0
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
psycopg[binary,pool]==3.2.11
PyPDF2==3.0.1
requests==2.32.3
beautifulsoup4==4.12.2
lxml>=5.3.0